.desktop-bg {
  background-color: #1A73E8 !important; }

google-codelab-index-cards .card.desktop-bottom {
  border-bottom-color: #1A73E8; }

.security-bg {
  background-color: #5F6368 !important; }

google-codelab-index-cards .card.security-bottom {
  border-bottom-color: #5F6368; }

.server-bg {
  background-color: #E37400 !important; }

google-codelab-index-cards .card.server-bottom {
  border-bottom-color: #E37400; }
